/* Sitewide Styles */

* {
  font-family: "Lato", sans-serif;
}

.banner-container {
  background-color: #a60022;
  display: flex;
  justify-content: center;
  height: 40px;
}

.banner-text {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}

.brand-text {
  font-family: 'Shadows Into Light Two', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
}

.login-btn {
  padding: 5px 25px;
}

.login-btn:hover {
  background-color: #000;
  color: #fdcb83;
}

.login-header {
  background-color: #a60022;
  color: #fff;
}

.login-header-text {
  font-family: 'Shadows Into Light Two', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar {
  background-color: #edeee9;
}

h1, h2, h3, h4 {
  font-family: 'Shadows Into Light Two', sans-serif;
}

.breadcrumb {
  background-color: #edeee9;
}

.site-footer {
  background-color: #a60022;
  color: #fff;
}

.footer-link-list{
  list-style-type: none;
  padding: 0;
}

.footer-link {
  color: #fff;
}

.footer-link:hover {
  color: #b1b1b1;
  text-decoration: none;
}

/* HomePage Styles */

.hero-image {
  opacity: 0.6;
  width: 100%;
}

.hero-text {
  text-align: center;
  margin: 5%;
}

.whatIs-image {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 5%; 
}

.whatIs-text {
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
  }

  .hero-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    text-align: left;
    margin: 0;
    display: inline-block;
    width: 360px;
    z-index: 100;
  }
}

.featuredToys-bg {
  background-color: #edeee9;
}

.become-bg {
  background-color: #edeee9;
}

.button {
  background-color: #000;
}

/* InventoryCard Styles */

.inventoryItem-card {
  position: relative;
}

.inventoryItem-card, .inventoryItem-image {
  border-radius: 20px;
}

.inventoryItem-allText {
  background-color: rgba(237, 238, 233, 0.75);
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.inventoryItem-text {
  font-weight: 400;
  font-style: italic;
}

.inventoryItem-btn {
  background-color: #000;
  border: none;
  font-family: 'Shadows Into Light Two', sans-serif;
}

.inventory-img {
  width: 100%;
}

/* ToysPage Styles */

.toyInventory-bg {
  background-color: #fdcb83;
}

.filter-heading-div {
  display: flex;
  justify-content: space-between;
}

.filter-subheading-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.filter-btn {
  border-radius: 25px;
  margin: 0.5em 0.5em 0.5em 0;
}

.filter-heading {
  font-family: 'Lato', sans-serif;
}

h3.filter-heading {
  font-weight: 700;
}

h4.filter-heading {
  font-weight: 300;
  font-size: 1.25em;
}

/* ToysInfoPage Styles */
.toyInfo-img {
  width: 100%;
  border-radius: 20px;
}

/* AboutPage Styles */
.about-bg {
  background-color: #71a3ee;
}

.about-img {
  width: 100%;
}

.about-tab-container {
  border: 0.5px solid #b1b1b1;
  border-radius: 10px;
  padding: 1em;
}

.tab-content {
  padding: 1em 0 1em 0;
}

/* SignUpPage Styles */

.signup-bg {
  background-color: #ac83fd;
}

.signup-img {
  width: 100%;
}

/* ContactPage Styles */

.contact-bg {
  background-color: rgb(201, 238, 219);
}

.contact-img {
  width: 100%;
}

.contact-link {
  color: #a60022;
}

.contact-link:hover {
  text-decoration: none;
  color: #b1b1b1;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 55%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

