* {
  font-family: "Lato", sans-serif;
}

.banner-container {
  background-color: #a60022;
  display: flex;
  justify-content: center;
  height: 40px;
}

.banner-text {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}

.brand-text {
  font-family: 'Shadows Into Light Two', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
}

.login-btn {
  background-color: #fdcb83;
  border: none;
  color: #000;
  padding: 5px 25px;
}

.login-btn:hover {
  background-color: #000;
  color: #fdcb83;
}

.login-header {
  background-color: #a60022;
  color: #fff;
}

.login-header-text {
  font-family: 'Shadows Into Light Two', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar {
  background-color: #edeee9;
}

h1, h2, h3, h4 {
  font-family: 'Shadows Into Light Two', sans-serif;
}

.hero-image {
  opacity: 0.6;
  width: 100%;
}

.hero-text {
  text-align: center;
  margin: 5%;
}

.whatIs-image {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 5%; 
}

.whatIs-text {
  text-align: center;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
  }

  .hero-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    text-align: left;
    margin: 0;
    display: inline-block;
    width: 360px;
    z-index: 100;
  }
}
.become-bg {
  background-color: #edeee9;
}

.button {
  background-color: #000;
}

.site-footer {
  background-color: #a60022;
  color: #fff;
}

.footer-link-list{
  list-style-type: none;
  padding: 0;
}

.footer-link {
  color: #fff;
}

.footer-link:hover {
  color: #b1b1b1;
  text-decoration: none;
}
